**no.1**

In [ ]:
import pandas as pd
score_df = pd.read_excel('/content/score.xlsx', header=0)
score_df

    Score  School  Instructor  Session
0      25       1           1        1
1      29       1           1        2
2      14       1           2        1
3      11       1           2        2
4      11       2           1        1
5       6       2           1        2
6      22       2           2        1
7      18       2           2        2
8      17       3           1        1
9      20       3           1        2
10      5       3           2        1
11      2       3           2        2

In [ ]:
from statsmodels.formula.api import ols

formula = 'Score ~ C(School) + C(Instructor) + C(School):C(Instructor)'

score_lm = ols(formula, data=score_df).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
score_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
====================================================================================
Model:                      OLS                    Adj. R-squared:           0.899
Dependent Variable:         Score                  AIC:                      61.0877
Date:                       2021-10-28 02:55       BIC:                      63.9971
No. Observations:           12                     Log-Likelihood:           -24.544
Df Model:                   5                      F-statistic:              20.69
Df Residuals:               6                      Prob (F-statistic):       0.00102
R-squared:                  0.945                  Scale:                    7.0000
------------------------------------------------------------------------------------
                                   Coef.   Std.Err.    t    P>|t|   [0.025   0.975]
------------------------------------------------------------------------------------
Intercept                          27.0000   1.8708 14.4321 0.0000  22.4222  31.5778
C(School)[T.2]                    -18.5000   2.6458 -6.9923 0.0004 -24.9739 -12.0261
C(School)[T.3]                     -8.5000   2.6458 -3.2127 0.0183 -14.9739  -2.0261
C(Instructor)[T.2]                -14.5000   2.6458 -5.4805 0.0015 -20.9739  -8.0261
C(School)[T.2]:C(Instructor)[T.2]  26.0000   3.7417  6.9488 0.0004  16.8445  35.1555
C(School)[T.3]:C(Instructor)[T.2]  -0.5000   3.7417 -0.1336 0.8981  -9.6555   8.6555
------------------------------------------------------------------------------------
Omnibus:                    9.957               Durbin-Watson:                 2.875
Prob(Omnibus):              0.007               Jarque-Bera (JB):              1.668
Skew:                       -0.000              Prob(JB):                      0.434
Kurtosis:                   1.173               Condition No.:                 10
====================================================================================

"""

In [ ]:
print('\nEnabling interactive shell outputs ...')
print('   Use command pass; to disable cell text outputs')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore') 
warnings.simplefilter(action="ignore",category=UserWarning)
warnings.simplefilter(action="ignore",category=FutureWarning)

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm



%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

Enabling interactive shell outputs ...
   Use command pass; to disable cell text outputs

In [ ]:
from statsmodels.stats.anova import anova_lm
aov_table = anova_lm(score_lm) 
aov_table

                          df  sum_sq  mean_sq          F    PR(>F)
C(School)                2.0   156.5    78.25  11.178571  0.009473
C(Instructor)            1.0   108.0   108.00  15.428571  0.007731
C(School):C(Instructor)  2.0   459.5   229.75  32.821429  0.000587
Residual                 6.0    42.0     7.00        NaN       NaN

In [ ]:
108 + 459.5 #ssb(a)

567.5

In [ ]:
(567.5/3)/7 #ssb(a)/df(ba)+1/df(resi)+1

27.023809523809522

In [ ]:
(2817.6633/7)/13

In [ ]:
stats.f.isf(0.05,3,6) #หา f-test

4.757062663089414

In [ ]:
F0 = MSTr/MSE
p_value = stats.f.sf(F0, a-1,(a-1)*(b-1))

**no.2**

In [ ]:
a = 3
b = 10
n = 3

Confident interval 95%

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
L = (7.769-2.639)/(3) #msba-mse/n ค่าจากตาราง
L #sigms^2beta=L

1.7100000000000002

In [ ]:
C1 = 1/3 #MS1=MSb(a)=7.769
C2 = -1/3 #MS2=MSE=2.639

In [ ]:
df = (((C1*7.769)+(C2*2.639))**2) / ((((C1*7.769)**2)/9) + (((C2*2.639)**2)/24)) #df1=9 df2=24
df

3.7614091069612767

In [ ]:
#005f5f
#5f00af
#86592d
#005f5f

In [ ]:
df_ = 3  #หาช่วง เอาไปถอดรูทเพิ่มก็ได้
left = (df_*L)/stats.chi2.isf(0.05/2,df_)
right = (df_*L)/stats.chi2.isf(1-(0.05/2),df_)
print(left)
print(right)

0.5487567949604476
23.772530787621054